importFrom("graphics", plot)

importFrom("stats", "optimize", "phyper", "pnorm", "pt", "qnorm",
     "uniroot")

import(methods)

export("Ims","planLTPD","OC","AOQ","planAOQL","cmBE")

exportClasses("ACSPlan")


exportMethods("plot",
              "n",
              "k")

